#
# Repo with the Dockerfile:
#
services:
  comfyui:
    image: ignatberesnev/comfyui-gfx1151:v0.1
    container_name: comfyui-gfx1151

    # Shared memory allocation, should not be > than available RAM, feel free to lower it
    shm_size: 8G

    volumes:
      - ./ComfyUI:/opt/ComfyUI

    ports:
      - "8188:8188"

    environment:
      - TORCH_ROCM_AOTRITON_ENABLE_EXPERIMENTAL=1

    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
      - render

    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

