#
# Repo with the Dockerfile:
#
services:
  comfyui:
    image: ignatberesnev/comfyui-gfx1151:v0.1
    container_name: comfyui-gfx1151

    # Shared memory allocation, should not be > than available RAM, 8G should be plenty
    shm_size: 8G

    volumes:
      - ./ComfyUI:/opt/ComfyUI

    ports:
      - "8188:8188"

    # Not sure if these actually help, but everyone
    # else seems to be using them, soo ¯\_(ツ)_/¯
    environment:
      - PYTORCH_TUNABLEOP_ENABLED=1
      - MIOPEN_FIND_MODE=FAST
      - ROCBLAS_USE_HIPBLASLT=1
      - TORCH_ROCM_AOTRITON_ENABLE_EXPERIMENTAL=1

    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
      - render

    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

